body {
  font-family: Palatino;
}

#holiday-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#holiday-list li{
  list-style: circle;
  padding: 12px;
  background-color: #ccc;
}
